@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-error {
    position: fixed;
    z-index: 2;
    top: 10%;
    width: 100%;
    color: red;
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* Set to 0 since it will be bottom layer of site */
    z-index: 0;
}

.overlap {
    position: relative;
    /* Content will go on top of map, therefore z-index of 1 */
    z-index: 1;
    top: 5px;
    padding: 0 5px;
}

.venues-list{
  overflow-x: hidden;
  display: block;
  overflow: auto;
  margin-top: 5px;
  width: 80%;
  height: 300px;
  background: #FFF;
}

.venue-list-item {
    padding: 15px;
    border-bottom: 1px solid #E6E6E6;
}

.selected-venue-item {
    background: #FFF2A8;
}

.venue-list-item .glyphicon{
  padding-right: 5px;
  float:left;
  clear:left;
}

/* Wrap text that is too long */
.venue-list-item .content{
  word-wrap: break-word;
}

.venue-list-item .venue-name {
    font-size: 2em;
    margin-bottom: 5px;
    line-height: 25px;
}

.venue-list-item .venue-sub {
    margin-bottom: 10px;
}

.venue-list-item .venue-rating {
    display: inline;
}

.venue-list-item .venue-rating .badge {
    font-size: 16px;
    background-color: #3366FF;
}

.venue-list-item .venue-address {
    font-size: 12px;
    display: inline;
    margin-left: 5px;
}

.venue-list-item .venue-category,
.venue-list-item .venue-contact,
.venue-list-item .venue-website {
    font-size: 14px;
}

.badge {
    background-color: #3366FF !important;
}

.venue-infowindow {
    max-width: 250px;
}

.venue-infowindow .venue-name {
    font-size: 16px;
    font-weight: 400;
}

.venue-infowindow .venue-rating {
    margin-left: 5px;
}

.venue-infowindow .glyphicon {
    margin-right: 5px;
    margin-bottom: 5px;
}
